<div class="login-wrapper">
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="email-label" for="email">Email:</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email" />
      </div>

      <div class="form-group">
        <label class="password-label" for="password">Password:</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter your password" />
      </div>

      <button type="submit">Login</button>

      <div class="signin-forget">
        <a id="forget" routerLink="/signup" >Signup</a>
        <a (click)="openForgotPasswordModal()" id="forget">Forgot Password?</a>
      </div>
 

    </form>

       <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>


  </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeForgotPasswordModal()">&times;</span>
  
      <!-- Step 1: Enter Email -->
      <div *ngIf="!isOtpSent && !isPasswordReset">
        <i class="fa-regular fa-envelope email-icon"></i>
        <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
          <input formControlName="email" placeholder="Enter your email" type="email" />

          <button type="submit">Send OTP</button>
        </form>
      </div>
  
      <!-- Step 2: Enter OTP -->
      <div *ngIf="isOtpSent && !isPasswordReset">
        <h3>Enter OTP</h3>
        <form [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
          <input formControlName="otp" placeholder="Enter OTP" type="text" />

          <button type="submit">Verify OTP</button>
          <p>OTP expires in: {{ displayTime }}</p>

        </form>
      </div>
  
      <!-- Step 3: Reset Password -->
      <div *ngIf="isPasswordReset">
        <h3>Reset Password</h3>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
          <!-- <p>{{isMatching()}}</p> -->
          <input formControlName="newPassword" placeholder="New Password" type="password" />
          <span *ngIf="passwordForm.get('newPassword')?.errors?.['passwordLength']">Password must be between 8 and 16 characters.</span>
          <span *ngIf="passwordForm.get('newPassword')?.errors?.['passwordComplexity']">Password must contain at least one numeric character and one symbol.</span>
          <input formControlName="confirmPassword" placeholder="Confirm Password" type="password" />
          <button type="submit">Reset Password</button>
        </form>
      </div>
  
      <div *ngIf="forgetErrorMessage" class="error">{{forgetErrorMessage}}</div>
    </div>
  </div>
