<section class="transaction-history-container">
  <div class="history-download">
    <h2>Transaction History</h2>
    <i (click)="downloadPDF()" id= 'download' class="fa-solid fa-download"></i>

  </div>


  <!-- Filter Section -->
  <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="filter-form">
    <div class="filter-group">
      <label for="transaction_type">Transaction Type:</label>
      <select formControlName="transaction_type" id="transaction_type">
        <option value="">All</option>
        <option value="deposit">Deposit </option>
        <option value="withdraw">Withdraw</option>
        <option value="credit">Credit</option>
        <option value="debit">Debit</option>
      </select>
    </div>

    <div class="filter-group">
        <label for="start_date">Start Date:</label>
        <input type="date" formControlName="start_date" id="start_date" (change)="isValid()">
    </div>
    <div class="filter-group">
        <label for="end_date">End Date:</label>
        <input type="date" formControlName="end_date" id="end_date" (change)="isValid()" >
    </div>
    <!-- <h1>{{isValid()}}</h1> -->
    <div class="buttons">
       <button type="submit" class="btn apply-btn">Apply Filters</button>

      <button type="button" (click)="resetFilters()" class="btn reset-btn" >Reset Filters</button></div>
   
  </form>

  <!-- Transaction Table -->
  <table class="transaction-table">
    <thead>
      <tr>
        <th (click)="toggleSort('date')">Date <i class="fa-solid fa-sort"></i></th>
        <th (click)="toggleSort('type')">Type <i class="fa-solid fa-sort"></i></th>
        <th (click)="toggleSort('amount')">Amount <i class="fa-solid fa-sort"></i></th>
        <th>Recipient</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.date | date:'MMM dd, y, hh:mm:ss a' }}</td>
        <td>{{ transaction.type }}</td>
        <td>₹ {{ transaction.amount.toFixed(2) }}</td>
        <td>{{ transaction.recipient }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="transactions.length === 0">No transactions found.</p>

  <!-- Pagination -->
  <div *ngIf="totalPages > 1" class="pagination">
    <!-- <button (click)="goToFirstPage()" [disabled]="currentPage === 1">First</button> -->
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="Previous">Previous</button>
  
    <!-- Display only a subset of pages near the current page -->
    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
      <button *ngIf="i + 1 === currentPage || i + 1 === currentPage - 1 || i + 1 === currentPage + 1 || i + 1 === 1 || i + 1 === totalPages"
              (click)="getTransactionHistory(i + 1)"
              [class.active]="currentPage === (i + 1)">
        {{ i + 1 }}
      </button>
      <span *ngIf="(i + 1 === currentPage - 2 || i + 1 === currentPage + 2) && i + 1 !== 1 && i + 1 !== totalPages">...</span>
    </ng-container>
  
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
    <!-- <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">Last</button> -->
  </div>

  
</section>
