.profile-container {
  width: 90%;
  max-width: 1100px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  font-family: Arial, sans-serif;
  margin-top: 5px;
}

.profile-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.profile-pic-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-pic-main{
  font-size: 120px;

}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.profile-form {
  flex: 1;
  min-width: 280px;
  max-width: 100%;
  margin-left: 10px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-bottom: 2px solid #ff6b6b;
}

.save-btn,
.edit-button {
  background-color: #134B70;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 768px) {
  .profile-header h1 {
    font-size: 2rem;
  }

  .profile-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic-container {
    width: 150px;
    height: 150px;
  }

  .save-btn,
  .edit-button {
    font-size: 0.9rem;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .profile-header h1 {
    font-size: 1.8rem;
  }

  .profile-container {
    padding: 20px;
  }

  .profile-pic-container {
    width: 120px;
    height: 120px;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  .save-btn,
  .edit-button {
    font-size: 0.8rem;
  }
}
